body {
	text-align: center;
	background-color: #BDE5E1;
	margin: 0;
	font-size: 18px;
	background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png"); */
}

section {
	margin-top: 20px;
}

.profile-img {
	height:250px;
	width: 250px;
	margin: 10px 30px;
	border-radius:  20px;
}

.icon {
	margin: 10px 5px ;
}

.title {
	font-size: 26px;
	background-color: #6BBED4;
}

.heading {
	font-weight: bold;
	margin-right: 10px;
}

/* About-me Section */
#about_me {
	background-color: #59A9B5;
	padding: 5px;
}

.about {
	display:flex;
	justify-content: center;
	margin: 4% 15% 1%;
	border-radius: 20px;
	padding: 20px;
}

.content {
	border-radius: 20px;
	padding: 5px;
}

/* Skills Section  */
.ability {
	height: 120px;
	width: 120px;
	margin: 10px;
	text-align: left;
	border-radius: 100%;
}

.skillz {
	padding: 10px;
}

/* Projects Section  */
.works {
	background-color: #59A9B5;
	margin: 0;
	padding: 20px 6%;
	text-align: left;
}

.projectz {
	margin-bottom: 1%;
}

/* Education Section  */
.institute {
	background-color: #59A9B5;
	margin: 2% 14% ;
	padding: 20px;
	border-radius:  20px;
	text-align: left;
}

.years {
	position: relative;
	left: 10px;	
	font-weight: normal;
}

.ed {
	height: 120px;
	width: 120px;
	margin: 10px;
	border-radius: 100%;
}

.sect {
	display:flex;
	justify-content: left;
	margin: 1%;
}

.content {
	margin: 1% 0;
}

/* Certication Section  */
.portfolio {
	height: 200px;
	width: 280px;
	margin: 10px 20px;
}

.certificatez {
	background-color: #59A9B5;
	margin: 0;
	padding: 20px 20% 20px 8%;
	text-align: left;
}

.memo {
	display: flex;
	justify-content: right;
	margin: 1%;
}

.contentz {
	margin: auto 10% auto 6%;
}

/* Achievements Section  */
.accomplishments {
	margin: 2% 5%;
	padding: 20px;
	text-align: left;
}

/* Interests Section  */
.games {
	height: 220px;
	width: 240px;
	margin: 2% 3%;
}

/* Footer Section */
#footer {
	padding: 0 1% 1%;
}

.contact {
	margin: 5px 15px;
}

	/* ******************************************************************************* */

/* @media command */
@media only screen and (max-width: 768px) {

	body {
		font-size: 14px;
	}

	/* About-me Section */
	.profile-img {
		height: 200px;
		width: 180px;
		margin: 30px auto 10px;
		border-radius:  20px;
	}

	.about {
		margin: 0;
		display: block;
		justify-content:left;
	}

	/* Education Section  */
	.institute{
		margin: 0;
		border-radius: 0;
	}

	/* Certification Section  */
	.memo {
		display: flex;
		justify-content: left;
		border-radius: 20px;
		margin: 1%;
	}

	.portfolio {
		height: 140px;
		width: 180px;
		margin: 10px 20px;
	}

	.certificatez {
		padding: 20px;
	}

	.contentz {
		margin: 0;
	}

	/* Achievements Section  */
	.accomplishments {
		margin: 2%;
		padding: 10px;
	}
}