body {
	text-align: center;
	background-color: #BDE5E1;
	margin: 0;
	background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png"); */
}

section {
	margin-top: 20px;
}

.profile-img {
	height:250px;
	width: 250px;
	margin: 10px 30px;
	border-radius:  20px;
}

.icon {
	margin: 10px 5px ;
}

.title {
	font-size: 26px;
	background-color: #6BBED4;
}

.heading {
	font-weight: bold;
	margin-right: 10px;
}

/* About-me Section */

#about_me {
	background-color: #59A9B5;
	padding: 5px;
}

.about {
	display:flex;
	justify-content: center;
	font-size: 18px;
	margin: 4% 15% 1%;
	border-radius: 20px;
	padding: 20px;
}

.content {
	border-radius: 20px;
	padding: 5px;
}

/* Skills Section  */

.ability {
	height: 120px;
	width: 120px;
	margin: 10px;
	text-align: left;
	border-radius: 100%;
}

.skillz {
	padding: 10px;
}

/* Projects Section  */

.works {
	background-color: #59A9B5;
	margin: 0;
	padding: 20px 5%;
	text-align: left;
}


/* Footer Section */

.contact {
	margin: 5px 10px;
}


/* .App {
  font-family: sans-serif;
  text-align: center;
} */
